.ans-btn {
  height: 20px;
  max-height: 200px;
  width: 50px;
  display: block;
  text-align: left;
  background-color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  bottom: 0 fixed;
  margin-bottom: 0 fixed;
  outline: none;
}
div.hidden {
  display: none;
  position: fixed;
}
.trigger:hover + div.hidden {
  display: block;
  margin-left: 1.5%;
  color: black;
  font-weight: bold;
  font-size: 140%;
  /* margin-top:2%; */
}
.itemAndButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  height: 500px;
  max-height: 500px;
  width: 60%;
  border-radius: 25px;
  border: 2px solid #f16f05;
  padding: 20px;
  margin-top: 20px;
}
.trigger {
  font-size: 140%;
  color: black;
  /* font-weight:bold; */
  text-align: center;
}
.graph1 {
  margin-right: 0.2%;
}
.graph2 {
  margin-right: 0.2%;
}
.graph3 {
  margin-right: 0.2%;
}
.graph4 {
  margin-right: 0.2%;
}
.graph5 {
  margin-right: 0.2%;
}

.filterResults {
  display: flex;
  flex-direction: column;

  align-self: center;
  margin-bottom: -5%;
  border-radius: 25px;
  border: 2px;
  padding: 20px;
}
.charts {
  height: 400px;
  width: 400px;
}

.div-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 100%;
}
.shareAndFav {
  display: flex;
  flex-direction: row;
  width: 20%;
  align-self: flex-end;
}
.fav-btn {
  display: flex;
  width: 50%;
}
.itemHashtagSocialShare {
  display: flex;
  flex-direction: row;
  flex-basis: 20%;
  justify-content: space-between;
}
.itemHashtag {
  display: flex;
  flex-direction: column;
}
/* border-bottom: 1px solid rgb(173, 100, 16); */
.socialMedia {
  display: flex;
  justify-self: self-end;
}

.changeYourTopic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 25%;
}
ul {
  list-style-type: none;
}

.itemContent {
  color: #5f5541;
  font-family: "Trocchi", serif;
  font-size: 35px;
  font-weight: normal;
}
#check {
  display: none;
}
.hashtag {
  color: rgb(247, 137, 37);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: left;
  text-decoration: none;
}
p {
  color: rgb(247, 137, 37);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: left;
  text-decoration: none;
}
.voteButtons {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: flex-end;
}

.ans-btn:hover {
  background-color: rgb(247, 137, 37);
}

.answer-select {
  border-width: 3px;
  font-size: 15px;
  background-color: transparent;
  border-color: rgb(247, 137, 37);
  outline: none;

  /* margin:5%; */
  border-radius: 15px;
}
.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  /* margin-top:-1%; */
}
#icon-list {
  transform: scaleX(0);
}
.next {
  display: flex;

  align-items: center;
  align-self: center;
}
