.scoreItem {
  margin-top: 10px;
  width: 150px;
  height: 20px;
  background: orange;
}
.scoreItem header {
  margin-top: 10px;
  width: 150px;
  height: 20px;
  background: white;
}
.arrayScores {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  align-content: center;
}
