.form-signup {
  border: 3px solid white;
  width:50%;
  border-radius: 30px;
  background-color:#F5F5F5;
  box-shadow: 5px 10px #888888;
  margin-top: 50px;
  margin-left:450px;  
}
​
label{
  margin-left:70px;
  padding: 12px 20px;
  margin: 8px 0;
  font-weight: bold;
  font-size: 20px;
  border-radius: px;
}
​
/* Full-width inputs */
input[type=email], input[type=password], input[type=text], input[type= date] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left:150px;
  border-radius: 15px;
}
​
.signup-btn {
  background-color:black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-left:210px;
  border-radius: 30px;
  outline:none;
  font-weight: bold;
  font-size:20px
}
