

.itemstableFilter{
  position: absolute;
  top: 50px;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
  opacity: -7;
}

.itemsTable{
  position:fixed;
  z-index:1;
  left:60%;
  top:70%;
  right:20%;
  transform: translate(-50%, -50%);
  width:60%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;


}
.itemstd{
  width:40%;
  text-align: left;
  margin-left: 50%;
}



