.itemstable {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.5rem;
  /* margin-top:5%; */
  margin-left:5%;
  margin-right:10%;
  line-height:0.0;
  width: 92%;
  justify-content: center;

}

.itemsth {
  display: flex;
  justify-content: space-between;
  margin:2%;
  font-weight: 700;
  background-color:orange;
  width:95%;
  margin-right:10%;

}
.itemstd-container {
  display:flex;
  flex-direction: column;
  margin:2%;
}

.itemstd {
  display: flex;
}

.itemstr {
  width: 100%;
  display: flex;
  flex-flow:1;
  justify-content: space-between;
}



.itemstd {
  display: flex;
  flex-flow:1;
  flex-grow:1;
  flex-basis: 0;
  padding: 0.5em;
  overflow: hidden;
}

/* .fas {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 25px;
  color:black;
} */
