.topicscontainer{
  display: flex;
  justify-content: space-evenly;
  border:3px solid black;
  border-spacing: 35%;
  width:90%;
  /* border-radius: 40px; */
  padding:10px;
  margin:10px;
  height:60px;
}
.topicstable {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.5rem;
  margin-top:3%;
  margin-left:30%;
  margin-right:10%;
  line-height:0.0;
  width: 40%;
  justify-content: center;

}

.topicsth {
  display: flex;
  justify-content: space-between;
  /* margin:2%; */
  font-weight: 700;
  background-color:orange;
  width:95%;
  margin-right:10%;

}
.topicstd-container {
  display:flex;
  flex-direction: column;
  margin:2%;
}

.topicstd {
  display: flex;
}

.topicstr {
  width: 100%;
  display: flex;
  flex-flow:1;
  justify-content: space-between;
}



.topicstd {
  display: flex;
  flex-flow:1;
  flex-grow:1;
  flex-basis: 0;
  padding: 0.5em;
  overflow: hidden;
}
.topicsfas-div{
  display:flex;
  margin-top:-2%;
}
.topicsfas2 {
  font: normal normal normal 14px/1 FontAwesome;
  color:black;
  font-size: 26px;
}
.topicsfas1 {
  display: flex;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 48px;
  color:black;
 
}
.topicsinput {
  margin-top: 30px;
  padding:10px;
  border-radius:20px;
  width:30%;
  outline:none;
  border:3px solid black;
  margin-left: 15%;
}
