.topicstable {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.5rem;
  margin-top:5%;
  margin-left:30%;
  margin-right:10%;
  line-height:0.0;
  width: 50%;
  justify-content: center;

}

.topicsth {
  display: flex;
  justify-content: space-between;
  margin:2%;
  font-weight: 700;
  background-color:orange;
  width:95%;
  margin-right:10%;

}
.topicstd-container {
  display:flex;
  flex-direction: column;
  margin:2%;
}

.topicstd {
  display: flex;
}

.topicstr {
  width: 100%;
  display: flex;
  flex-flow:1;
  justify-content: space-between;
}



.topicstd {
  display: flex;
  flex-flow:1;
  flex-grow:1;
  flex-basis: 0;
  padding: 0.5em;
  /* word-break: break-word; */
  overflow: hidden;
  /* text-overflow: ellipsis; */
  
}
