.showContainer{
  /* margin-top:60px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 25%;
  margin-right:30%;
  font-weight: bold;
  font-size: 20px;
  width:50%
}
.show-img{
  display: flex;
  /* margin-right:10% */
}
.show-img img{
  height:180px;
  border-radius: 100px;
  border:5px solid rgb(247,137,37);
  margin-top: 20%;
}
.showUpdateBtn{
  background-color: black;
  color: white;
  cursor: pointer;
  width: 20%;
  height: 50px;
  margin-left: 160px;
  border-radius: 18px;
  outline: none;
  font-weight: bold;
  font-size: 20px;
 
}

.showtable {
  align-self: center;
  border:none;
  width: 80%;
  margin-top: 15%;
  

}

.showtd {
 
  margin-top: 1%;
  border: none;
  text-align: left;
  padding: 8px;

}

.showtr:nth-child(even) {
  background-color: transparent;
}
.show-edit {
  display: flex;
  margin-right: 5%;
  margin-top: 10%;
}
hr{
  height:3px;
  width:250%;
  background-color: rgb(247,137,37);
  margin-bottom:0%;
}


