.updateContainer {
  margin-top: 100px;
  margin-left:35%;
}

.updateLabel{
  font-weight: bold;
  font-size: 25px;
  margin-right: 40px;
  
}
.updateInput{
  font-weight: bold;
  font-size: 25px;
 }

.updateInput1{
  font-weight: bold;
  font-size: 25px;
 }
 .updateInput2{
  font-weight: bold;
  font-size: 25px;
 }

 .updateInput3{
  font-weight: bold;
  font-size: 25px;
 }
 .updateInput4{
  font-weight: bold;
  font-size: 25px;
 }

 .updateInput5{
  font-weight: bold;
  font-size: 25px;
 }

 input [type= text]{
   border-radius: 35px;
   font-weight: bold;
   outline:none;
   border: 2px solid black;
   
 }
 .updateBtn {
  background-color: black;
  color: white;
  padding: 10px 14px;
  cursor: pointer;
  width: 20%;
  height: 50px;
  margin-left: 100px;
  border-radius: 18px;
  outline: none;
  font-weight: bold;
  font-size: 20px;

 }
 .updateInputLabel{
   border-radius: 15px;
   height:40px;
   width:150%;
   border:1px solid black;
   outline:none
 }