.ans-btn {
  height:50px;
  max-height: 200px;
  width:100px;
  display: block;
  text-align: left;
  background-color: black;
}
div.hidden { display:none; position:fixed}
.trigger:hover + div.hidden {
  display:block; 
 }


.div-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex-basis: 100%;
  border: 2px groove gray;
  padding: 10px;
  margin: 5px;
 font-size: 10px;
 width: 100%;

}
.div-container .itemTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 10%;  
  border-bottom: 1px solid darkblue;
}
.div-container .itemTitle .changeYourTopic {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 align-content: flex-end;
 
}
.itemTitle h2 {
  color: #7c795d; font-family: 'Trocchi', serif; 
  font-size: 35px; font-weight: normal; margin: 0; 
}
 h6 {
  color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 15px; 
  font-weight: bold; letter-spacing: -1px; ; text-align: left;
}
.div-container .voteButtons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-basis: 30%;
  padding: 5px;
  bottom: 0;
}

button:hover{
  background-color:#ffa600d7
}

.div-container .charts {
display: flex;
flex-basis: 40%;
justify-content: center;
align-items: center;

}

select {
  border-width: 3px; 
  font-size:15px;
border-color: rgb(247,137,37); 
outline: none; 
/* margin:5%; */
border-radius: 15px;

}
.div-container .socialMedia {
display: flex; 
flex-direction: row;
justify-content: center;
flex-basis: 10%;

 }