.itemshow-container {
  display: flex;
  padding: 10px;
  /* margin: 10px; */
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
}
.flexBig {
    display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top:5%;  
  width: 70%;
  align-self: center;
}
.flexItem {
  display: flex;
  flex-direction: column;
  flex-grow:1;
  background-color:  rgb(245, 175, 110);
  margin-right:5%;
  border-radius: 15px;
  padding:4%;
}
.flexBig .flexItem h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  font-weight: bold;
}
.flexBig  h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.flexBig  .flexList {
  display: flex;
  flex-direction: column;
  max-height: 50px;
  justify-content: space-evenly;
}
.flexBig  .flexList #filter{
border-color: rgb(247,137,37); 
outline: none; 
/* margin:5%; */

border-radius: 15px;
}
.charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
 padding: 10px;
 margin-top: 100px;
 margin-left: 200px;
 margin-right: 400px;
 margin-bottom: 200px;
  
  }

  .item-show-select {
    border-width: 3px; 
    font-size:15px;
    background-color: transparent;
    border-color: rgb(247,137,37); 
    outline: none; 
    
  /* margin:5%; */
    border-radius: 15px;
  
  }
  