.submit-container {
  display: flex;
  /* justify-content: center; */
  width: 70%;
}

.submit-img {
  display: flex;
  height: 100%;
  margin-top: 10%;
  /* margin-left:20%; */
}
.textareaContainer {
  display: flex;
  /* margin-left: 375px */
  flex-direction: column;
  flex-grow: 3;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  position: relative;
}

.textArea {
  margin: 4%;
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  align-self: center;
  border: 3px solid rgb(247, 137, 37);
  border-top-right-radius: 50%;
  outline: none;
  font-size: 20px;
  padding-left: 1%;
  /* background-color: rgb(248, 210, 174); */
  background-attachment: local;
  background-image: linear-gradient(
      to right,
      transparent 12px,
      transparent 12px
    ),
    linear-gradient(to left, transparent 12px, transparent 12px),
    repeating-linear-gradient(
      transparent,
      white 30px,
      #ccc 30px,
      #ccc 31px,
      white 31px
    );
  /* line-height: 30px; */
  padding: 65px 10px 10px 20px;
}
.textArea:focus {
  outline: none;
}

.text-button {
  display: flex;
  background-color: black;
  color: white;
  padding: 1%;
  margin: 5%;
  cursor: pointer;
  width: 75%;
  height: 45%;
  margin-left: -35%;
  border-radius: 18px;
  outline: none;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.submit-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2%;
  /* justify-content: center; */
  font-size: 26px;
  margin-bottom: 3%;
  color: rgb(247, 137, 37);
  width: 75%;
  align-items: center;
  align-content: center;
}

.question-mark {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tags {
  display: flex;

  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}
.noBackground {
  width: auto;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 8px;
}
.tag {
  width: auto;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 8px;
  background: #0052cc;
}
.topic-select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: white;

  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid rgb(247, 137, 37);
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
