.textareaContainer {
  margin-top: 40px;
  margin-left: 375px
}

.textArea{
  margin: 140px;;
}
.textArea:focus{
  border:transparent
}

.textBtn{
  background-color: black;
  color: white;
  padding: 10px 50px;
  cursor: pointer;
  width: 20%;
  height: 50px;
  margin-left: 300px;
  border-radius: 18px;
  outline: none;
  font-weight: bold;
  margin-bottom: 140%;
}