.form-login {
  border: 3px solid white;
  width:50%;
  border-radius: 30px;
  background-color:#F5F5F5;
  box-shadow: 5px 10px #888888;
  margin-top: 50px;
 margin-left:340px;
 }

/* Add padding to containers */
.container {
padding: auto;
}
/* Full-width inputs */
input[type=email], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left:150px;
  border-radius: 15px;
  outline: none;
}
​
/* Set a style for all buttons */
.login-btn {
  background-color:black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-left:210px;
  border-radius: 30px;
  outline:none;
  font-weight: bold;
  font-size:20px
}
​
label{
  margin-left:70px;
  font-weight: bold;
  font-size: 20px;
  margin-left:150px;
  border-radius: px;
}