.nav-logo{
  margin-left:550px;
 margin-top:1px
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: rgb(241, 239, 238);
}

.nav-top {
  top: 0;
}
.nav-bar {
  width: 100%;
  overflow: hidden;
  height:110px;
  background: black;
}
.nav-login {
  padding: 8px 16px;
  float: right; 
  width: auto;
  text-decoration: none;
  display: block; 
  font-size: 30px;
  color: rgb(247,137,37)
}
.nav-signup {
  padding: 8px 16px;
  float: right; 
  width: auto;
  text-decoration: none;
  display: block; 
  font-size: 30px;
  color: rgb(247,137,37)
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(247,137,37)
}

.fas {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 50px;
  color: rgb(247,137,37);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

