/* .img-logo{
  margin-right: 1100px;
}
.signup-button {
  background-color: black;
  color:white;
  border-radius: 30px;
  height:50px;
  width:200px;
  font-size:20px;
  position:absolute;
  right:70px;
  top:50px 
}

.login-button{
  background-color: black;
  color:white;
  border-radius: 30px;
  height:50px;
  width:200px;
  font-size:20px;
  position: absolute;
  right:300px;
  top:50px;
  cursor: pointer;

} */

body {
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: rgb(241, 239, 238);
}

#grad1 {
  height: 900px;
  background-image: linear-gradient(to bottom, rgba(214, 109, 49, 0.918), rgba(250, 247, 244, 0.856));
}
.nav-top {
  top: 0;
}
.nav-bar {
  width: 100%;
  overflow: hidden;
}
.nav-white, .nav-hover-white:hover {
  color: #000!important;
  background-image: linear-gradient(to top, rgba(214, 109, 49, 0.918), rgba(248, 246, 245, 0.856))!important;
}

.nav-card, .w3-card-2 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.logo {
  padding: 8px 16px;
  float: left; 
  width: auto;
  border: none;
  display: block; 
  outline: 0;
  font-size: 25px;
  
}

.nav-login {
  padding: 8px 16px;
  float: right; 
  width: auto;
  text-decoration: none;
  display: block; 
  font-size: 25px;
}


.nav-signup {
  padding: 8px 16px;
  float: right; 
  width: auto;
  text-decoration: none;
  display: block; 
  font-size: 25px;
}

.nav-bar .nav-button {
  white-space: normal;
} 

.nav-wide {
  letter-spacing: 4px;
}

/* .w3-right {
  float: right;
} */

/* .w3-hide-small{
  display:none
} */

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 35px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
i{
  color:black
}

