/* const signupForm2 = {
  marginTop: "150px",
  marginLeft:"400px"
 }
const form2Btn = {
  backgroundColor:"black",
  color: "white",
  padding: "10px 14px",
  cursor: "pointer",
  width: "20%",
  height: "50px",
  marginLeft:"70px",
  borderRadius: "18px",
  outline:"none",
  fontWeight: "bold",
  fontSize:"20px"
}
   const signuplabel4 = {
    fontWeight: "bold",
    fontSize: "25px",
    marginRight:"110px"
  }
  const signuplabel5 = {
    fontWeight: "bold",
    fontSize: "25px",
   
    marginRight:"20px"
  }
  
  const inputEmail4 = {
    borderColor: "rgb(247,137,37)", 
    outline: "none", 
    padding:"13px",
    borderRadius: "25px",
    width: "50%", 
    borderWidth: "3px", 
    fontSize:"20px",
    marginLeft:"-33px"
}
const inputEmail5 = {
  borderColor: "rgb(247,137,37)", 
  outline: "none", 
  padding:"13px",
  borderRadius: "25px",
  width: "50%", 
  borderWidth: "3px", 
  fontSize:"20px",
  marginLeft:"5px"
} */
.form2 {
  /* margin-top: 5%; */
  margin-left:18%;
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.form2-form {
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  width: 100%;
}
.form2-welcome{
  display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 30px;
    margin-top:3%;
    margin-bottom: 5%;
    margin-left:20%;
    color: rgb(247,137,37);
    width: 80%;
}

.form2-data {
  display: flex;
  flex-direction: row;
  margin:4%;
  justify-content: space-between;
  width:100%

}
.form2-buttons {
  display: flex;
  flex-direction: row;
  /* margin:1%; */
  justify-content: space-between;
  align-items: center;
  width:100%;
  margin-left: 9%;
  
}
.form2-label {
  display: flex;
  font-weight: bold;
  font-size: 25px;
  /* margin-right:1%; */
  align-self: flex-start;
}
.form2-input {
  display: flex;
  align-self: flex-end;
  /* flex-grow: 1; */
  border-color: rgb(247,137,37); 
  outline: none; 
  /* margin:5%; */
  padding:1%;
  border-radius: 15px;
  height:100%;
  width: 65%; 
  border-width: 3px; 
  font-size:20px;
}
.form2-button {
  display: flex;
  background-color:black;
  color: white;
  padding: 1%;
  margin: 5%;
  cursor: pointer;
  width: 28%;
  height: 45%;
  /* margin-left:40px; */
  border-radius: 25px;
  outline:none;
  font-weight: bold;
  font-size:20px;
  align-items: center;
  justify-content: center;
}



