/* .form4Container {
  margin-top: 30px;
  margin-left: 150px;
}

.signupLabelrel{
  font-weight: bold;
  font-size: 30px;
  margin-left: 400px;
}

.signupLabelfam{
  font-weight: bold;
  font-size: 30px;
  margin-left: 400px;
}
.relationshipBtn {
  padding: 10px;
  width: 250px;
  border-radius: 35px;
  border-color: rgb(247, 137, 37);
  display: inline;
  outline: none;
  margin-left: 100px;
  margin-right: -20px;
  font-weight: bold;
  font-size: 20px;
  border: solid rgb(247, 137, 37);

}
.relationshipBtn:hover{
  background-color:  rgb(247, 137, 37);
}
.familyBtn{
  padding: 10px;
  width: 250px;
  border-radius: 25px;
  border-color: rgb(247, 137, 37);
  display: inline;
  outline: none;
  margin-left: 100px;
  margin-right: -20px;
  font-weight: bold;
  font-size: 20px;
  border: solid rgb(247, 137, 37);
}

.familyBtn:hover{
  background-color:  rgb(247, 137, 37);
}

.formRegbtn {
  background-color: black;
  color: white;
  padding: 10px 40px;
  cursor: pointer;
  width: 20%;
  height: 50px;
  margin-left: 200px;
  border-radius: 18px;
  outline: none;
  font-weight: bold;

} */


.form6 {
  /* margin-top: 5%; */
  margin-left:22%;
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.form6-form {
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  width: 100%;
}
.form6-welcome{
  display:flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 5%;
  color: rgb(247,137,37);
}

.form6-data {
  display: flex;
  flex-direction: column;
  margin:4%;
  justify-content: space-between;
  align-items: center;
  width:100%

}
.form6-buttons {
  display: flex;
  flex-direction: row;
  /* margin:1%; */
  justify-content: space-between;
  align-items: center;
  width:100%;
  margin-left: 3%;
  
}
.form6-label {
  display: flex;
  font-weight: bold;
  font-size: 25px;
  /* margin-right:1%; */
  /* align-self:center; */
}
.form6-input {
  display: flex;
  align-self: center;
  /* flex-grow: 1; */
  border-color: rgb(247,137,37); 
  outline: none; 
  /* margin:5%; */
  padding:1%;
  border-radius: 15px;
  height:100%;
  width: 65%; 
  border-width: 3px; 
  font-size:20px;
}
.relation-buttons1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relationshipBtn {
  padding: 1%;
  width: 320px;
  border-radius: 35px;
  border-color: rgb(247, 137, 37);
  display: inline;
  outline: none;
  /* margin-left: 100px; */
  /* margin-right: -20px; */
  margin:3%;
  font-weight: bold;
  font-size: 20px;
  border: solid rgb(247, 137, 37);

}
.relationshipBtn:hover{
  background-color:  rgb(247, 137, 37);
}
.form6-button {
  display: flex;
  background-color:black;
  color: white;
  padding: 1%;
  margin: 5%;
  cursor: pointer;
  width: 26%;
  height: 45%;
  /* margin-left:40px; */
  border-radius: 18px;
  outline:none;
  font-weight: bold;
  font-size:20px;
  align-items: center;
  justify-content: center;
}